<launch>
<arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find ydlidar_ros)/urdf/ydlidar.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
<node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find ydlidar_ros)/ydlidar.rviz" />
</launch>
