<launch>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
<!--        <remap from="scan" to="base_scan"/>-->
        <param name="minimumScore" value="0"/>
        <param name="base_frame" value="base_link"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_update_interval" value="0.5"/>
        <param name="maxUrange" value="10.0"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="5"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="srr" value="0.3"/>
        <param name="srt" value="0.3"/>
        <param name="str" value="0.3"/>
        <param name="stt" value="0.3"/>
        <param name="linearUpdate" value="0.4"/>
        <param name="angularUpdate" value="0.5"/>
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="100"/>
        <param name="xmin" value="-2.0"/>
        <param name="ymin" value="-2.0"/>
        <param name="xmax" value="13.0"/>
        <param name="ymax" value="2.0"/>
        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <param name="transform_publish_period" value="0.05"/>
        <param name="occ_thresh" value="0.25"/>
        <param name="maxRange" type="double" value="inf"/>
    </node>

        <include file="$(find ydlidar_ros)/launch/F4Pro.launch" />

        <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node">
                <!--        <remap from="scan" to="base_scan"/>-->
                <param name="fixedFrame" value="odom"/>
        </node>

<!--    <node name="ydlidar_ros_node"  pkg="ydlidar_ros"  type="ydlidar_ros_node" output="screen" respawn="false" >-->
<!--        <param name="port"         type="string" value="/dev/ttyUSB0"/>-->
<!--        <param name="baudrate"         type="int" value="128000"/>-->
<!--        <param name="frame_id"     type="string" value="laser_frame"/>-->
<!--        <param name="resolution_fixed"    type="bool"   value="true"/>-->
<!--        <param name="auto_reconnect"    type="bool"   value="true"/>-->
<!--        <param name="reversion"    type="bool"   value="false"/>-->
<!--        <param name="angle_min"    type="double" value="-180" />-->
<!--        <param name="angle_max"    type="double" value="180" />-->
<!--        <param name="range_min"    type="double" value="0.1" />-->
<!--        <param name="range_max"    type="double" value="12.0" />-->
<!--        <param name="ignore_array" type="string" value="" />-->
<!--        <param name="frequency"    type="double" value="8"/>-->
<!--        <param name="samp_rate"    type="int"    value="5"/>-->
<!--    </node>-->

<!--    <node-->
<!--            pkg="tf"-->
<!--            type="static_transform_publisher"-->
<!--            name="base_link_connect"-->
<!--            args="0 0 0 0 0 0 /base_link /laser_frame 100"-->
<!--    />-->

</launch>
